<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題に回答</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" id="logout-link">ログアウト</a></li>
                <li><a href="toppage.html">テーマ一覧</a></li>
            </ul>
        </nav>
        <h1 id="quiz-theme">テーマ:</h1>
        <form id="answer-form">
            <div id="questions-container">

                {% for question in questions%}


                {{question.questionsetid}}-{{question.questionid }}</br>
                {{question.questiontext}}
                <br>
                {% endfor %}

            </div>
            <input type="submit" value="回答する">
        </form>
        <div id="result"></div>
        <div id="statistics"></div>
    </div>
    <script src="scripts.js"></script>
</body>

</html>