<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題に回答</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="#" id="logout-link">ログアウト</a></li>
                <li><a href="toppage.html">テーマ一覧</a></li>
            </ul>
        </nav>
        <h1 id="quiz-theme">テーマ:</h1>
        <!-- <form id="answer-form"> -->
        <div id="questions-container">

            {% for question in questions%}


            {{question.questionsetid}}-{{question.questionid }}</br>
            {{question.questiontext}}
            <input type="text" id="input_{{question.questionid}}" />
            <button onclick="answer({{question.questionid}})">答合わせ</button>
            <div id="answer_{{question.questionid}}"></div>
            <!-- <div id=""> -->
            <br>
            {% endfor %}

        </div>
        <!-- <input type="submit" value="回答する"> -->
        <!-- </form> -->

        <div id="result"></div>
        <div id="statistics"></div>
    </div>
    <script src="scripts.js"></script>
</body>

</html>
<script>
    function answer(questionid) {
        console.log(questionid);
        input_answer = document.getElementById(`input_${questionid}`).value;
        fetch('/answer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ questionid: questionid, answer: input_answer })
        })
            .then(response => {
                return response.json();
            })
            .then(json => {
                console.log(json)
                check_answer = document.getElementById(`answer_${questionid}`);
                check_answer.innerHTML = `${json.is_correct}`
            })
            .catch(error => {
                console.log(error.message);
            });
    }
</script>