<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">
<h1>バトル</h1>
{{room_id}}



<div id="ranking"></div>
<h2>
    <div id="question"></div>
</h2>
残り<div id="timer"></div>秒

<input type="text" id="input_text" required>
<!-- <div id=""> -->
<br>



<div id="log"></div>
<script>
    let socket = io();

    socket.on('connect', function () {
        socket.emit('join', { username: '{{ current_user.name }}', room_id: '{{room_id}}' });
    });



    const input_text = document.getElementById("input_text")
    input_text.addEventListener("change", function () {
        console.log({ text: input_text.value })
        socket.emit('send_answer', { username: '{{ current_user.name }}', answer: input_text.value, room_id: '{{room_id}}' });
        input_text.value = ""
    });

    socket.on('client_echo', function (data) {
        console.log("echo" + ': ' + data.msg);
    });
    socket.on('add_log', function (data) {
        console.log('Received data:', data);
        document.getElementById('log').innerHTML += `${data.text}<br>`;
    });

    socket.on('post_answer', function (data) {
        console.log('Received data:', data);
        document.getElementById('log').innerHTML += `${data.username}:${data.answer}:${data.is_correct ? '🙆‍♂️' : '🙅'}<br>`;
        if (data.is_correct && '{{ current_user.name }}' == data.username) {
            alert("正解!");
            document.getElementById("input_text").disabled = true;
        }
    });


    socket.on('question', function (data) {
        console.log(data)
        document.getElementById('log').innerHTML = ``;
        document.getElementById("question").innerHTML = `${data} <br> `;
        document.getElementById("input_text").disabled = false;
    });

    socket.on('timer', function (data) {
        console.log(data)
        document.getElementById('timer').innerHTML = data;

    });


    // socket.on('correct', function (data) {
    //     alert("正解!");

    //     document.getElementById("input_text").disabled = true;
    // });

    socket.on('update_ranking', function (data) {
        console.log('update_ranking:', data);
        let rankingHTML = '<table  border="1"><tbody>';
        for (let user in data) {
            // console.log(`< tr ><td>${key}</td><td>${data[key]}</td></tr > `);
            console.log(user, '{{ current_user.name }}')
            if (user == '{{ current_user.name }}') {
                rankingHTML += `<tr><td><strong>${user}</strong></td><td><strong>${data[user]}points</strong></td></tr >`;
            } else {
                rankingHTML += `<tr><td>${user}</td><td>${data[user]}points</td></tr >`;
            }


        }
        rankingHTML += '</tbody></table>';
        console.log(rankingHTML);
        document.getElementById('ranking').innerHTML = rankingHTML;
    });

</script>