バトル



<script>
    init();
    function init() {

        fetch('/battle_init', { method: 'POST', })
            .then(response => {
                return response.json();
            })
            .then(json => {
                console.log(json)
                check_answer = document.getElementById(`answer_${questionid}`);
                check_answer.innerHTML = `${json.is_correct}`
            })
            .catch(error => {
                console.log(error.message);
            });
    }
</script>