<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<h1>バトル</h1>
<a>{{room_id}}</a>


<input type="text" id="input_text" required>
<!-- <div id=""> -->
<br>



<div id="log"></div>

<script>
    let socket = io();

    socket.on('connect', function () {
        socket.emit('join', { username: '{{ current_user.name }}', room_id: '{{room_id}}' });
    });



    const input_text = document.getElementById("input_text")
    input_text.addEventListener("change", function () {
        console.log({ text: input_text.value })
        socket.emit('message', { text: input_text.value, room_id: '{{room_id}}' });
        input_text.value = ""
    });

    socket.on('client_echo', function (data) {
        console.log("echo" + ': ' + data.msg);
    });
    socket.on('add_log', function (data) {
        console.log('Received data:', data);
        document.getElementById('log').innerHTML += `${data.text}<br>`;
    });

</script>