<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>問題作成</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="{{ url_for('login.logout') }}" id="logout-link">ログアウト</a></li>
                <li><a href="{{ url_for('index.index_get') }}">テーマ一覧</a></li>
            </ul>
        </nav>
        <h1>問題作成</h1>
        <form id="create-question-form" method="POST">
            <label for="theme">テーマ:</label>
            <input type="text" id="theme" name="theme" required>
            <div id="question-fields">
                <div class="question-block">
                    <label>問題:</label>
                    <textarea name="question" required>{{question.questiontext}}</textarea>
                    <label>形式:</label>
                    <div>
                        <input type="radio" name="type" id="type_choice" value="choice" checked />
                        <label class="radio" for="type_choice">選択式</label>
                        <input type="radio" name="type" id="type_text" value="text" />
                        <label class="radio" for="type_text">文字入力式</label>
                    </div>
                    <label>解答:</label>
                    <div id="answer_text" style="display: none;">
                        <input type="text" name="answer" value="{{question.answer}}" required>{{question.answer}}
                    </div>
                    <div id="answer_choice">
                        <label>正解:</label>
                        <input id="choice_correct" type="text" />
                        <label>不正解1:</label>
                        <input id="choice_incorrect1" type="text" />
                        <label>不正解2:</label>
                        <input id="choice_incorrect2" type="text" />
                        <label>不正解3:</label>
                        <input id="choice_incorrect3" type="text" />
                    </div>
                </div>
            </div>
            <input type="submit" value="作成">
        </form>
    </div>
    <!-- <script src="scripts.js"></script> -->
</body>

<script>
    const radio_choice = document.getElementById("type_choice")
    const radio_text = document.getElementById("type_text")
    const answer_text = document.getElementById("answer_text")
    const answer_choice = document.getElementById("answer_choice")

    radio_choice.onchange = function () {
        console.log("a")
        answer_choice.style.display = "block"
        answer_text.style.display = "none"
    }
    radio_text.onchange = function () {
        console.log("b")
        answer_choice.style.display = "none"
        answer_text.style.display = "block"
    }
</script>

<style>
    label.radio {
        display: inline;
    }
</style>

</html>