<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>クイズ!!!!</title>
</head>


<body>

    {% if current_user.is_authenticated %}
    あなたのユーザネームは{{ current_user.username }}です。
    <h2>ログイン中</h2>
    <a href="logout">ログアウト</a><br>
    {% else %}
    ログインされていません<br>
    <a href="login">ログイン</a><br>
    <a href="signup">サインアップ</a><br>
    {% endif %}
    <a href="questions_set">問題セット管理</a><br>
    <a href="questions_set_select">問題を解く</a><br>
    <a href="users">ユーザー一覧(デバッグ用後で消す)</a><br>
</body>