<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
<h1>ロビー</h1>
<a>{{room_id}}</a>
<!-- socketio.js -->
<input type="text" id="input_text" required>
{%if is_owner%}
<a><button id="game_start_button" onclick="game_start()">ゲームスタート</button></a>
{% endif %}

<div id="log"></div>
<script>
    let socket = io();

    socket.on('connect', function () {
        socket.emit('join', { username: '{{ current_user.name }}', room_id: '{{room_id}}' });
    });

    function game_start() {
        socket.emit('game_start', { room_id: '{{room_id}}' });
    }

    const input_text = document.getElementById("input_text")
    input_text.addEventListener("change", function () {
        console.log({ text: input_text.value })
        socket.emit('message', { username: '{{ current_user.name }}', text: input_text.value, room_id: '{{room_id}}' });
        input_text.value = ""
    });

    socket.on('client_echo', function (data) {
        console.log("echo" + ': ' + data.msg);
    });
    socket.on('add_log', function (data) {
        console.log('Received data:', data);
        document.getElementById('log').innerHTML += `${data.text}<br>`;
    });

    socket.on('redirect', function (data) {
        socket.disconnect();
        window.location.href = data.url;
    });

</script>