<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ログイン</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="create_account.html">アカウント作成</a></li>
            </ul>
        </nav>
        <h1>ログイン</h1>
        <form id="login-form" method="POST">
            <label for="username">ユーザーID:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">パスワード:</label>
            <input type="password" id="password" name="password" required>
            <input type="submit" value="ログイン">
        </form>
    </div>
    <!-- <script src="scripts.js"></script> -->
</body>

</html>