<!DOCTYPE html>
<html lang="jp">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>

<body>

    <form method="POST">
        <input type="submit" value="問題セットを作成">
    </form>
    <table>
        <tr>
            <!-- <th>questionsetid</th> -->
            <th>questionsetid</th>
            <th>questionsetitle</th>
            <th>questionsetowner</th>
        </tr>
        {% for quastions_set in quastions_sets%}
        <tr>
            <td><a href="/quastions_set/{{ quastions_set.questionsetid }}">
                    <p>{{quastions_set.questionsetid }}</p>
                </a></td>
            <td>{{ quastions_set.questionsetitle }}</td>
            <td>{{ quastions_set.questionsetowner }}</td>
        </tr>
        {% endfor %}
    </table>

</body>

</html>