<!DOCTYPE html>
<html lang="jp">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>

<body>

    <form method="POST">
        <input type="submit" value="問題を追加">
    </form>
    <table>
        <tr>
            <th>questionid</th>
            <th>questionsetid </th>
            <th>questiontext</th>
            <th>正答率</th>
        </tr>
        {% for quastion in quastions%}
        <tr>
            <td><a href="/quastion/{{ quastion.questionid }}">
                    <p>{{quastion.questionid }}</p>
                </a></td>
            <td>{{quastion.questionsetid}}</td>
            <td>{{quastion.questiontext}}</td>
            <td>{{ quastion.correctcount }}/{{ quastion.count }}</td>

        </tr>
        {% endfor %}
    </table>

</body>

</html>