<!DOCTYPE html>
<html lang="jp">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>

<body>

    問題セット名<input type="text" id="questionsettitle" value="{{questionset.questionsetitle}}">
    {% if can_delete %}
    <button onclick="questionset_delete()">問題セットを削除</button>
    {% endif %}
    <form method="POST">
        <input type="submit" value="問題を追加">
    </form>
    <table>
        <tr>
            <th>questionid</th>
            <th>questionsetid </th>
            <th>questiontext</th>
            <th>正答率</th>
        </tr>
        {% for question in questions%}
        <tr>
            <td><a href="/question/{{ question.questionid }}">
                    <p>{{question.questionid }}</p>
                </a></td>
            <td>{{question.questionsetid}}</td>
            <td>{{question.questiontext}}</td>
            <td>{{ question.correctcount }}/{{ question.count }}({{'{:.0f}'.format( question.correctcount /
                question.count*100) }}%)</td>

        </tr>
        {% endfor %}
    </table>

</body>

</html>

<script>

    const questionsetitle = document.getElementById("questionsettitle")
    questionsetitle.addEventListener("change", function () {
        console.log({ questionsetid: '{{ questionset.questionsetid }}', new_title: questionsetitle.value })
        fetch('/questionsettitle_change', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ questionsetid: '{{ questionset.questionsetid }}', new_title: questionsetitle.value })
        })

    });
    function questionset_delete() {
        fetch('/questionset_delete', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ questionsetid: '{{questionset.questionsetid}}' })
        })
        window.location.href = "{{ url_for('questions_set.questions_set_get') }}"
    }
</script>