<!DOCTYPE html>
<html lang="jp">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/light.min.css">

<head>
    <meta charset="UTF-8">
    <title>問題一覧</title>
</head>

<body>

    <form method="POST">
        <input type="submit" value="問題を追加">
    </form>

    <input type="text" id="questionsettitle" value="{{questionset.questionsetitle}}">
    <table>
        <tr>
            <th>questionid</th>
            <th>questionsetid </th>
            <th>questiontext</th>
            <th>正答率</th>
        </tr>
        {% for question in questions%}
        <tr>
            <td><a href="/question/{{ question.questionid }}">
                    <p>{{question.questionid }}</p>
                </a></td>
            <td>{{question.questionsetid}}</td>
            <td>{{question.questiontext}}</td>
            <td>{{ question.correctcount }}/{{ question.count }}</td>

        </tr>
        {% endfor %}
    </table>

</body>

</html>

<script>

    const questionsetitle = document.getElementById("questionsettitle")
    questionsetitle.addEventListener("change", function () {
        console.log({ questionsetid: '{{ questionset.questionsetid }}', new_title: questionsetitle.value })
        fetch('/questionsettitle_change', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ questionsetid: '{{ questionset.questionsetid }}', new_title: questionsetitle.value })
        })
        // .then(response => {
        //     return response.json();
        // })
        // .then(json => {
        //     console.log(json)
        //     check_answer = document.getElementById(`answer_${questionid}`);
        //     check_answer.innerHTML = `${json.is_correct}`
        // })
        // .catch(error => {
        //     console.log(error.message);
        // });
    });
</script>